 <div class="container-fluid">

<div class="welcome-message">
    <h2>Greetings, @ViewData["Username"]!</h2>
    <p>At Apprenticeship, we believe in the power of mentorship. Let's embark on a collaborative journey to shape your professional path and achieve greatness together.</p>
    <p>Your development is our priority. Explore the training opportunities, connect with mentors, and embrace the challenges that lead to growth. Welcome to a community dedicated to your success!</p>
</div>
</div>